<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>qinterest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link href="//cdn.muicss.com/mui-0.9.41/css/mui.min.css" rel="stylesheet" type="text/css" media="screen" />

    <script>
      const initialData = {{ initial_data | tojson }}
    </script>
</head>
<body>
    <div id="root"></div>
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
</html>
